*{
    margin: 0;
    padding: 0;
}
.body1{
    background-image: url('../images/pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form1{
    /* padding-top: 180px;
    padding-left: 570px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signupform{
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width:330px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 15px;
}
.user{
    padding: 10px 240px 10px 10px;
}
.pass{
    padding: 10px 240px 10px 10px;
}
.email{
    padding: 10px 270px 10px 10px;
}
.cpass{
    padding: 10px 180px 10px 10px;
}
.labels1 input{
    border-radius: 3px;
    border: none;
    width: 300px;
    height: 20px;
}
.labels1 input:hover{
    border: 1px solid black;
}
.labels1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button1 Button{
    color: black;
    border: none;
}
.button1 Button:hover{
    border: 1px solid black;
}
#an{
    color: blue;
}
.h2{
    padding: 10px;
}
@media(max-width: 768px)
{
    .signupform{
        width: 260px;
    }
    .labels1 input{
        width: 200px;
    }
    .user{
        padding: 10px 140px 10px 10px;
    }
    .pass{
        padding: 10px 140px 10px 10px;
    }
    .email{
        padding: 10px 170px 10px 10px;
    }
    .cpass{
        padding: 10px 80px 10px 10px;
    }
}